apiVersion: apps/v1
kind: Deployment
metadata:
  name: incidents-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: incidents-api
  template:
    metadata:
      labels:
        app: incidents-api
    spec:
      containers:
        - name: incidents-api
          image: opspulse/incidents-api:v6
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          env:
            # App config (ConfigMap)
            - name: APP_ENV
              valueFrom:
                configMapKeyRef:
                  name: opspulse-config
                  key: APP_ENV
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: opspulse-config
                  key: LOG_LEVEL

            # App secrets (Secret)
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: opspulse-secrets
                  key: JWT_SECRET

            # DB config (ConfigMap)
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: db-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: db-config
                  key: DB_PORT

            # DB secrets (Secret)
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: incidents-api
  namespace: dev
spec:
  selector:
    app: incidents-api
  ports:
    - name: http
      port: 8080
      targetPort: 8080
